html {
    background-color: rgb(185, 185, 185);
}
.group {
    padding: auto;
    max-height: auto;
    max-width: auto;
    padding: 3 3 3 3;
    transition: box-shadow 0.2s;
}
.group:hover {
    -webkit-box-shadow: 10px 7px 77px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 7px 77px 3px rgba(0,0,0,0.75);
    box-shadow: 10px 7px 77px 3px rgba(0,0,0,0.75);
}
.medsquare {
    width: auto;
    height: auto;
    background-color: lightgray;
}
.title {
    font-family: 'Cherry Bomb';
    font-size: 36px;
    align-items: flex-start;
    margin: 0 0 0 0;
}
h2 {
    font-family: 'Cherry Bomb';
}